@model IEnumerable<Product_Management_System.Models.Admin.Product>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/product.css" rel="stylesheet" />

<h1>Product List</h1>

<section class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div class="add-product-btn mb-2">
                <a asp-action="AddProduct"><i class="fa fa-plus"></i> Create New</a>
            </div>
            <table class="table table-hover table-striped" id="productList">
                <thead>
                    <tr>
                        <th>
                            <span>Product Name</span>
                        </th>
                        <th>
                            <span>Product Description</span>
                        </th>
                        <th>
                            <span>Product Price</span>
                        </th>
                        <th>
                            <span>Product Cove Image</span>
                        </th>
                        <th>
                            <span>Product Quantity</span>
                        </th>
                        <th>
                            <span>Product Status</span>
                        </th>
                        <th>
                            <span>Action</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="border-bottom-left-radius:10px;border-top-left-radius:10px">
                                @Html.DisplayFor(modelItem => item.Product_Name)
                            </td>
                            <td>
                                <span>@(item.Product_Description.Length > 20 ? item.Product_Description.Substring(0, 20) + "..." : item.Product_Description)</span>
                             </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product_Price)
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.Product_Cover_Image))
                                {
                                    string[] imagePaths = item.Product_Cover_Image.Split(',');
                                    foreach (var imagePath in imagePaths)
                                    {
                                        <img src="~/@imagePath" alt="Product Image" class="listCoverImage" />
                                    }
                                }
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Product_Quantity)
                            </td>
                            <td class="text-center">
                                @if (item.Product_Status == 0)
                                {
                                    <p>Active</p>
                                }
                                else
                                {
                                    <p>Deactive</p>
                                }

                            </td>
                            <td style="border-bottom-right-radius:10px;border-top-right-radius:10px">
                                <a asp-action="EditProduct" asp-route-id="@item.Product_Id" id="btnEdit" class="btn bg-white text-primary" title="Edit Product"><i class="fa fa-edit fw-bold"></i></a>
                                <a asp-action="DetailProduct" asp-route-id="@item.Product_Id" id="btnView" class="btn bg-white" title="View Product"><i class="fa fa-eye fw-bold"></i></a>
                                <a href="#" onclick="deleteProduct(@item.Product_Id)" id="btnDelete" class="btn bg-white text-primary" title="Delete Product"><i class="fa fa-trash fw-bold"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

